body{
    background:url(conspiration.jpg);
    background-attachment: fixed;
    font-size: 1.8em;
    font-weight: bold;
    background-repeat: no-reapet !important;
    background-position: top !important;
    background-size: cover !important;
    color: white !important;
}


h2{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5rem !important;
}
img{
    border-radius: 10px;
}

a{
    text-decoration:none !important;
    color: black !important;
    font-size: 1.5em;;

}
.link{

    height: 500px;
}


@media screen and (max-width: 640px) {
    .link {
        height: 230px;
    }
  }
